@charset "UTF-8";
/* #Reset  (Inspired by E. Meyers)
================================================== */
@import url("http://fonts.googleapis.com/css?family=Cabin:400,700,400italic,700italic");
/* line 3, assets/sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 10, assets/sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 12, assets/sass/_reset.scss */
body {
  line-height: 1;
}

/* line 14, assets/sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 16, assets/sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 19, assets/sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 22, assets/sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 1;
}

/* line 25, assets/sass/_reset.scss */
p, h1 {
  margin: 0;
}

/* Table of Content
==================================================
	#Imports
	#Variables
	#Reset
	#Basic Styles
	#Images
	#Buttons
	#Tabs
	#Forms
	#Misc */
/* COMPASS IMPORTS
================================================= */
/* VARIABLES
================================================= */
 /* #CSS Animation Mixins
================================================== */
/* #Breakpoint Mixins
================================================== */
/* #Basic Styles
================================================== */
/* line 72, assets/sass/_base.scss */
body {
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

/* line 76, assets/sass/_base.scss */
a {
  text-decoration: none;
}

/* line 77, assets/sass/_base.scss */
strong {
  font-weight: bold;
}

/* line 78, assets/sass/_base.scss */
em {
  text-style: italic;
}

/* line 80, assets/sass/_base.scss */
.hide {
  display: none;
}

/* line 81, assets/sass/_base.scss */
.show {
  display: block;
}

/* #Buttons
================================================== */
/* #Forms
================================================== */
/* #Images
================================================== */
/* line 101, assets/sass/_base.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 103, assets/sass/_base.scss */
a img:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  cursor: pointer;
}

/*  Image Styles
   ========================================================================== */
/* line 108, assets/sass/_base.scss */
.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 109, assets/sass/_base.scss */
.aligncenter, div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

/* line 110, assets/sass/_base.scss */
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

/* line 111, assets/sass/_base.scss */
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

/* line 112, assets/sass/_base.scss */
.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

/* line 113, assets/sass/_base.scss */
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

/* line 114, assets/sass/_base.scss */
a img.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 115, assets/sass/_base.scss */
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

/* line 116, assets/sass/_base.scss */
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 117, assets/sass/_base.scss */
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}

/* line 118, assets/sass/_base.scss */
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 119, assets/sass/_base.scss */
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

/* line 120, assets/sass/_base.scss */
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

/* line 121, assets/sass/_base.scss */
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

/* line 122, assets/sass/_base.scss */
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* You can also use a <br class="clear" /> to clear columns */
/* line 126, assets/sass/_base.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 2, assets/sass/_typography.scss */
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 6, assets/sass/_typography.scss */
html {
  font-size: 1em;
}

/* line 7, assets/sass/_typography.scss */
body {
  color: #020202;
  font-family: Georgia, Times, "Times New Roman", serif;
}

/* line 10, assets/sass/_typography.scss */
span.underline {
  text-decoration: underline;
}

/* line 14, assets/sass/_typography.scss */
h1 {
  font: 54px/60px Georgia, Times, "Times New Roman", serif;
  color: #020202;
}

/* line 15, assets/sass/_typography.scss */
h2 {
  font: 32px/36px Georgia, Times, "Times New Roman", serif;
  color: #020202;
}

/* line 16, assets/sass/_typography.scss */
h3 {
  font: 24px/30px "Cabin", sans-serif;
  color: #d29c0e;
  text-transform: uppercase;
}

/* line 17, assets/sass/_typography.scss */
h4 {
  font: 14px/17px "Cabin", sans-serif;
  color: #020202;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* line 18, assets/sass/_typography.scss */
h5 {
  font: 10px/17px "Cabin", sans-serif;
  color: #d29c0e;
  text-transform: uppercase;
}

/* line 23, assets/sass/_typography.scss */
p {
  font: 14px/20px Georgia, Times, "Times New Roman", serif;
  padding-bottom: 20px;
  color: #020202;
}

/* line 24, assets/sass/_typography.scss */
p.fl::first-letter {
  text-transform: uppercase;
  font-size: 36px;
}

/* line 29, assets/sass/_typography.scss */
blockquote {
  margin: 0px 0px 20px 50px;
  font: 18px/26px Georgia, Times, "Times New Roman", serif;
  font-style: italic;
}

/* line 36, assets/sass/_typography.scss */
a {
  color: #d29c0e;
  text-decoration: none;
}

/* line 37, assets/sass/_typography.scss */
a:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* line 40, assets/sass/_typography.scss */
ul {
  list-style: disc inside;
  margin: 0 0 .6em;
}

/* line 41, assets/sass/_typography.scss */
ul li {
  margin: 2px 0;
}

/* line 42, assets/sass/_typography.scss */
ol {
  list-style: decimal inside;
  margin: 0 0 .6em;
}

/* line 43, assets/sass/_typography.scss */
ol li {
  margin: 2px 0;
}

/* line 2, assets/sass/_layout.scss */
body {
  overflow-x: hidden;
}

/* --- Small Menu Desktop --- */
/* line 10, assets/sass/_layout.scss */
nav.menu {
  position: fixed;
  z-index: 20;
  background-color: #020202;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 18, assets/sass/_layout.scss */
nav.menu #logo img {
  margin: 30px 10px 15px 15px;
  width: 70%;
}
/* line 19, assets/sass/_layout.scss */
nav.menu .tagline {
  display: none;
}
/* line 21, assets/sass/_layout.scss */
nav.menu .main-menu {
  margin-top: 90px;
}
/* line 24, assets/sass/_layout.scss */
nav.menu .menu-item {
  margin-bottom: 30px;
  padding: 3px 5px 3px 10px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
/* line 26, assets/sass/_layout.scss */
nav.menu .menu-item .text {
  width: 80px;
  position: relative;
  top: 0px;
  z-index: 12;
}
/* line 27, assets/sass/_layout.scss */
nav.menu .menu-item span.num {
  display: none;
}
/* line 28, assets/sass/_layout.scss */
nav.menu .menu-item span.title {
  display: inline-block;
  width: 65px;
  font-size: 13px;
  color: white;
  line-height: 15px;
  color: white;
}
/* line 29, assets/sass/_layout.scss */
nav.menu .menu-item img {
  display: none;
}
/* line 33, assets/sass/_layout.scss */
nav.menu .menu-active {
  background-color: #d29c0e;
}
/* line 35, assets/sass/_layout.scss */
nav.menu .secondary-menu {
  margin-top: 200px;
}
/* line 38, assets/sass/_layout.scss */
nav.menu .secondary-menu ul {
  margin: 20px 0px 20px 0px;
}
/* line 40, assets/sass/_layout.scss */
nav.menu .secondary-menu ul li {
  list-style-type: none;
  font-size: 13px;
  color: white;
  line-height: 15px;
  color: white;
  padding: 3px 5px 3px 10px;
  width: 65px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 42, assets/sass/_layout.scss */
nav.menu .secondary-menu ul li a {
  color: white;
}
/* line 43, assets/sass/_layout.scss */
nav.menu .secondary-menu ul li a:hover {
  text-decoration: none;
}
/* line 44, assets/sass/_layout.scss */
nav.menu .secondary-menu ul li:hover {
  background-color: #d29c0e;
}
/* line 46, assets/sass/_layout.scss */
nav.menu .secondary-menu ul li:nth-child(2) {
  width: 50px;
}
/* line 48, assets/sass/_layout.scss */
nav.menu .secondary-menu img {
  width: 80%;
  margin: 20px 10px 20px 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* --- Open Menu Desktop --- */
/* line 60, assets/sass/_layout.scss */
body.pml-open nav.menu #logo img {
  margin: 30px 10px 15px 20px;
}
/* line 61, assets/sass/_layout.scss */
body.pml-open nav.menu .tagline {
  color: white;
  display: block;
  font-size: 11px;
  line-height: 16px;
  font-style: italic;
  font-weight: bold;
  margin-left: 20px;
}
/* line 63, assets/sass/_layout.scss */
body.pml-open nav.menu .main-menu {
  margin-top: 50px;
}
/* line 66, assets/sass/_layout.scss */
body.pml-open nav.menu .menu-item {
  margin-bottom: -40px;
  margin-left: 10px;
  position: relative;
  height: 120px;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 68, assets/sass/_layout.scss */
body.pml-open nav.menu .menu-item .text {
  width: 130px;
  position: relative;
  top: -60px;
  z-index: 12;
}
/* line 69, assets/sass/_layout.scss */
body.pml-open nav.menu .menu-item span.num {
  display: block;
  display: inline-block;
  width: 20px;
  font-size: 48px;
  color: white;
  padding-left: 10px;
}
/* line 70, assets/sass/_layout.scss */
body.pml-open nav.menu .menu-item span.title {
  display: inline-block;
  width: 70px;
  font-size: 14px;
  color: white;
  line-height: 18px;
  color: white;
  padding-left: 10px;
}
/* line 71, assets/sass/_layout.scss */
body.pml-open nav.menu .menu-item img {
  display: block;
  position: relative;
  z-index: 2;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 72, assets/sass/_layout.scss */
body.pml-open nav.menu .menu-item:hover {
  cursor: pointer;
  background-color: transparent;
}
/* line 75, assets/sass/_layout.scss */
body.pml-open nav.menu .menu-item:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 78, assets/sass/_layout.scss */
body.pml-open nav.menu .menu-active {
  background-color: transparent;
}
/* line 80, assets/sass/_layout.scss */
body.pml-open nav.menu .secondary-menu {
  margin-top: 200px;
}
/* line 83, assets/sass/_layout.scss */
body.pml-open nav.menu .secondary-menu ul {
  margin: 20px 0px 20px 0px;
}
/* line 85, assets/sass/_layout.scss */
body.pml-open nav.menu .secondary-menu ul li {
  list-style-type: none;
  font-size: 14px;
  color: white;
  line-height: 18px;
  color: white;
  padding: 3px 0px 3px 20px;
  width: 140px;
}
/* line 87, assets/sass/_layout.scss */
body.pml-open nav.menu .secondary-menu ul li a {
  color: white;
}
/* line 88, assets/sass/_layout.scss */
body.pml-open nav.menu .secondary-menu ul li a:hover {
  text-decoration: none;
}
/* line 89, assets/sass/_layout.scss */
body.pml-open nav.menu .secondary-menu ul li:hover {
  background-color: #d29c0e;
}
/* line 92, assets/sass/_layout.scss */
body.pml-open nav.menu .secondary-menu img {
  margin: 20px 0px 20px 20px;
}

/* line 97, assets/sass/_layout.scss */
nav.push-menu-left {
  top: 0;
  height: 100%;
  width: 80px;
  overflow: hidden;
  border-right: 1px solid white;
  left: 0px;
}
/* line 104, assets/sass/_layout.scss */
nav.push-menu-left .wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  padding-right: 15px;
}
@media only screen and (max-width: 320px) {
  /* line 97, assets/sass/_layout.scss */
  nav.push-menu-left {
    left: -80px;
  }
}

/* line 111, assets/sass/_layout.scss */
body.pml-open nav.push-menu-left {
  left: 0;
  width: 160px;
}

/* line 117, assets/sass/_layout.scss */
body.pml-open .panel-wrap {
  margin-left: 160px;
}

/* line 123, assets/sass/_layout.scss */
.credits-menu-left {
  position: fixed;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  top: 0;
  width: 210px;
  height: 100%;
  background-color: #3a3a3a;
  left: -150px;
  z-index: 10;
  color: white;
}
/* line 135, assets/sass/_layout.scss */
.credits-menu-left .credits-wrap {
  padding: 30px 15px 15px 15px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: -15px;
  /* Increase this value (in negative) for cross-browser compatibility */
  overflow: auto;
}
/* line 144, assets/sass/_layout.scss */
.credits-menu-left p {
  font-size: 11px;
  line-height: 17px;
  color: white;
  padding-right: 10px;
}
/* line 147, assets/sass/_layout.scss */
.credits-menu-left p.top-one {
  margin-bottom: 140px;
}
/* line 148, assets/sass/_layout.scss */
.credits-menu-left p.top-two {
  margin-bottom: 40px;
}
/* line 149, assets/sass/_layout.scss */
.credits-menu-left h4 {
  font: 11px/17px "Cabin", sans-serif;
  color: white;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
/* line 150, assets/sass/_layout.scss */
.credits-menu-left a {
  color: white;
  text-decoration: underline;
}
@media only screen and (max-width: 320px) {
  /* line 123, assets/sass/_layout.scss */
  .credits-menu-left {
    left: -250px;
  }
}

/* line 155, assets/sass/_layout.scss */
body.pml-open.credits-open .credits-menu-left {
  left: 160px;
}

/* line 159, assets/sass/_layout.scss */
body.credits-open .credits-menu-left {
  left: 80px;
}

/* line 166, assets/sass/_layout.scss */
.close-credits-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 20;
  color: white;
}
/* line 171, assets/sass/_layout.scss */
.close-credits-menu:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

/* line 180, assets/sass/_layout.scss */
.mask {
  position: fixed;
  top: 0;
  left: 300px;
  width: 100%;
  height: 100%;
}

/* line 192, assets/sass/_layout.scss */
#open {
  display: none;
  z-index: 200;
  position: fixed;
  top: 20px;
  right: 20px;
}
@media only screen and (max-width: 320px) {
  /* line 192, assets/sass/_layout.scss */
  #open {
    display: block;
  }
}

/* line 199, assets/sass/_layout.scss */
.panel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: auto;
}

/* line 208, assets/sass/_layout.scss */
.panel-wrap {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-left: 80px;
}
@media only screen and (max-width: 320px) {
  /* line 208, assets/sass/_layout.scss */
  .panel-wrap {
    margin-left: 0px;
  }
}

/* ------END OF STORY NAV ---------*/
/* line 221, assets/sass/_layout.scss */
.left-nav {
  position: relative;
  height: 0px;
  width: 50%;
  top: -80px;
  float: left;
}
/* line 221, assets/sass/_layout.scss */
.left-nav a {
  position: relative;
  left: 7%;
}
/* line 222, assets/sass/_layout.scss */
.left-nav .fa {
  font-size: 45px;
  position: relative;
  top: 8px;
  right: 5px;
}

/* line 225, assets/sass/_layout.scss */
.right-nav {
  position: relative;
  height: 0px;
  width: 50%;
  top: -80px;
  float: right;
}
/* line 225, assets/sass/_layout.scss */
.right-nav a {
  float: right;
  position: relative;
  right: 10%;
}
/* line 226, assets/sass/_layout.scss */
.right-nav .fa {
  font-size: 45px;
  position: relative;
  top: 8px;
  left: 5px;
}

/* ----------- Home ------------- */
/* line 229, assets/sass/_layout.scss */
#home .panel-wrap {
  background: url("assets/img/cover-large.jpg") top left no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  left: 0;
}
/* line 235, assets/sass/_layout.scss */
#home .panel-wrap .right-nav {
  position: absolute;
  width: 100%;
  height: 0px;
  top: 90%;
  right: 2%;
  float: right;
}
/* line 237, assets/sass/_layout.scss */
#home .panel-wrap .right-nav .fa {
  font-size: 45px;
  position: relative;
  top: 8px;
  left: 5px;
}
/* line 238, assets/sass/_layout.scss */
#home .panel-wrap .right-nav a {
  color: #020202;
}
@media only screen and (max-width: 320px) {
  /* line 229, assets/sass/_layout.scss */
  #home .panel-wrap {
    background: url("assets/img/cover-large.jpg") top left no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
  }
}

/* --------- PANEL IMPORTS --------------*/
/* ----------- GRADY ------------- */
/* line 2, assets/sass/_grady.scss */
#grady {
  left: 100%;
}
/* line 4, assets/sass/_grady.scss */
#grady .intro {
  background-color: #020202;
}
/* line 6, assets/sass/_grady.scss */
#grady .intro h1 {
  font-size: 81px;
  line-height: 88px;
  color: white;
  padding: 250px 0px 0px 210px;
  text-transform: uppercase;
  width: 640px;
}
/* line 7, assets/sass/_grady.scss */
#grady .intro .teal-line {
  padding: 20px 0px 0px 0px;
  margin-left: 190px;
  height: 20px;
  border-left: 3px solid #4b7a82;
  border-right: 3px solid #4b7a82;
  width: 680px;
}
/* line 14, assets/sass/_grady.scss */
#grady .intro .teal-line hr {
  color: #4b7a82;
  background-color: #4b7a82;
  border: none;
  width: 100%;
  height: 3px;
  position: relative;
  top: -10px;
}
/* line 16, assets/sass/_grady.scss */
#grady .intro h2 {
  color: white;
  padding: 20px 0px 240px 210px;
  width: 610px;
  font-style: italic;
}
/* line 17, assets/sass/_grady.scss */
#grady .intro img {
  position: absolute;
  left: 960px;
  top: 20px;
}
/* line 20, assets/sass/_grady.scss */
#grady .bg-black {
  background-color: #020202;
  margin-bottom: 0px;
}
/* line 23, assets/sass/_grady.scss */
#grady .bg-black p {
  color: white;
}
/* line 24, assets/sass/_grady.scss */
#grady .bg-black blockquote {
  color: white;
}
/* line 27, assets/sass/_grady.scss */
#grady .bg-white {
  background-color: white;
  margin: 0;
}
/* line 30, assets/sass/_grady.scss */
#grady .bg-white p {
  color: #020202;
}
/* line 33, assets/sass/_grady.scss */
#grady .text-container {
  width: 500px;
  padding-left: 200px;
}
/* line 36, assets/sass/_grady.scss */
#grady .text-container img {
  padding-left: 70px;
}
/* line 37, assets/sass/_grady.scss */
#grady .text-container .white-line {
  display: block;
  margin: 50px 0px 40px 180px;
  width: 100px;
  height: 7px;
  background-color: white;
}
/* line 44, assets/sass/_grady.scss */
#grady .text-container .black-line {
  display: block;
  margin: 50px 0px 40px 180px;
  width: 100px;
  height: 7px;
  background-color: #020202;
}
/* line 53, assets/sass/_grady.scss */
#grady .transition-one {
  background: url("assets/img/grady-transition-one.jpg") top left no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 61, assets/sass/_grady.scss */
#grady .section-two p.neg-top {
  position: relative;
  top: -100px;
}
/* line 65, assets/sass/_grady.scss */
#grady .section-two p.neg-top-fix {
  margin-top: -100px;
}
/* line 68, assets/sass/_grady.scss */
#grady .section-two img {
  position: absolute;
  left: 800px;
  top: 2150px;
}
/* line 69, assets/sass/_grady.scss */
#grady .section-two .brahms {
  font-size: 24px;
  color: #d29c0e;
  font-style: italic;
  position: absolute;
  left: 920px;
  top: 3512px;
  width: 300px;
}
/* line 72, assets/sass/_grady.scss */
#grady .transition-grady-ruins {
  background: url("assets/img/grady-ruins.jpg") top left no-repeat;
  height: 950px;
  background-color: #020202;
  margin-top: -0px;
  margin-bottom: 0px;
}
/* line 80, assets/sass/_grady.scss */
#grady .section-three {
  padding-top: 40px;
}
/* line 84, assets/sass/_grady.scss */
#grady .transition-three {
  background: url("assets/img/grady-transition-three.png") top left no-repeat;
  height: 450px;
  background-color: white;
  margin-top: -280px;
  margin-bottom: 0px;
}
/* line 92, assets/sass/_grady.scss */
#grady .section-four {
  padding-top: 0px;
  padding-bottom: 50px;
}
/* line 95, assets/sass/_grady.scss */
#grady .section-four img {
  position: absolute;
  left: 790px;
  top: 6788px;
}
/* line 98, assets/sass/_grady.scss */
#grady .section-five {
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 101, assets/sass/_grady.scss */
#grady .section-five img {
  position: absolute;
  left: 840px;
  top: 7800px;
}
/* line 104, assets/sass/_grady.scss */
#grady .section-six {
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 109, assets/sass/_grady.scss */
#grady .transition-skyline {
  background: url("assets/img/grady-skyline.jpg") top left no-repeat;
  height: 1330px;
  background-color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 118, assets/sass/_grady.scss */
#grady .section-seven p.neg-top {
  position: relative;
  top: -300px;
}
/* line 122, assets/sass/_grady.scss */
#grady .section-seven p.neg-top-fix {
  margin-top: -300px;
}
/* line 127, assets/sass/_grady.scss */
#grady .section-eight {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 131, assets/sass/_grady.scss */
#grady .section-nine {
  padding-top: 30px;
  padding-bottom: 50px;
}
/* line 136, assets/sass/_grady.scss */
#grady .transition-mic {
  background: url("assets/img/grady-micd.jpg") top left no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 760px;
  background-color: white;
  margin-top: -250px;
  margin-bottom: 0px;
}
/* line 144, assets/sass/_grady.scss */
#grady .section-ten {
  padding-bottom: 0px;
}
/* line 146, assets/sass/_grady.scss */
#grady .section-ten p.neg-top {
  position: relative;
  top: -500px;
}
/* line 150, assets/sass/_grady.scss */
#grady .section-ten p.neg-top-fix {
  margin-top: -500px;
}
/* line 156, assets/sass/_grady.scss */
#grady .grady-end {
  background: url("assets/img/grady-end.jpg") top left no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 940px;
  background-color: white;
  margin-top: -600px;
  margin-bottom: 0px;
}

/* ----------- NICU ------------- */
/* line 2, assets/sass/_nicu.scss */
#nicu {
  left: 400%;
}
/* line 5, assets/sass/_nicu.scss */
#nicu .panel-wrap {
  background: url("assets/img/nicu-bg.jpg") top left no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 9000px;
}
/* line 11, assets/sass/_nicu.scss */
#nicu .panel-left, #nicu .panel-right {
  display: inline;
  float: left;
}
/* line 12, assets/sass/_nicu.scss */
#nicu .sub-panel {
  width: 100%;
  position: relative;
}
/* line 13, assets/sass/_nicu.scss */
#nicu .sub-panel:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 15, assets/sass/_nicu.scss */
#nicu h1 {
  font: 48px/50px Georgia, Times, "Times New Roman", serif;
  color: white;
  width: 600px;
  padding: 120px 0px 30px 120px;
  text-transform: uppercase;
}
/* line 16, assets/sass/_nicu.scss */
#nicu h2 {
  font: 32px/36px Georgia, Times, "Times New Roman", serif;
  color: #020202;
}
/* line 17, assets/sass/_nicu.scss */
#nicu h3 {
  font: 12px/17px "Cabin", sans-serif;
  color: #d29c0e;
  text-transform: uppercase;
  padding-bottom: 20px;
}
/* line 19, assets/sass/_nicu.scss */
#nicu .panel-one {
  background: url("assets/img/nicu-1.jpg") top right no-repeat;
  background-color: #121212;
  margin-bottom: 80px;
}
/* line 23, assets/sass/_nicu.scss */
#nicu .panel-one p {
  color: #c2c2c2;
  font-style: italic;
  width: 330px;
  padding: 0px 0px 20px 120px;
}
/* line 24, assets/sass/_nicu.scss */
#nicu .panel-one p:last-child {
  padding-bottom: 150px;
}
/* line 28, assets/sass/_nicu.scss */
#nicu .panel-two {
  background: url("assets/img/nicu-2.jpg") top right no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 80px;
}
/* line 31, assets/sass/_nicu.scss */
#nicu .panel-two .panel-text {
  width: 390px;
  padding: 450px 0px 80px 45px;
}
/* line 32, assets/sass/_nicu.scss */
#nicu .panel-two .panel-text h2 {
  color: white;
}
/* line 36, assets/sass/_nicu.scss */
#nicu .panel-two .panel-text p {
  color: white;
}
/* line 41, assets/sass/_nicu.scss */
#nicu .panel-three {
  margin-bottom: 80px;
}
/* line 42, assets/sass/_nicu.scss */
#nicu .panel-three .panel-left {
  padding: 0px 0px 0px 45px;
  width: 380px;
}
/* line 46, assets/sass/_nicu.scss */
#nicu .panel-three .panel-right {
  padding: 40px 0px 20px 70px;
  width: 380px;
}
/* line 54, assets/sass/_nicu.scss */
#nicu .panel-four {
  margin-bottom: 20px;
}
/* line 55, assets/sass/_nicu.scss */
#nicu .panel-four .panel-left {
  padding: 0px 0px 10px 45px;
  width: 380px;
}
/* line 59, assets/sass/_nicu.scss */
#nicu .panel-four .panel-right {
  padding: 90px 0px 0px 50px;
  width: 600px;
}
/* line 62, assets/sass/_nicu.scss */
#nicu .panel-four .panel-right .panel-text {
  padding: 30px 0px 180px 20px;
  width: 380px;
}
/* line 72, assets/sass/_nicu.scss */
#nicu .panel-five {
  background: url("assets/img/nicu-5.jpg") top left no-repeat;
}
/* line 75, assets/sass/_nicu.scss */
#nicu .panel-five .panel-text {
  width: 390px;
  padding: 615px 0px 80px 530px;
  overflow-y: visible;
}
/* line 85, assets/sass/_nicu.scss */
#nicu .panel-six {
  margin-bottom: 80px;
}
/* line 86, assets/sass/_nicu.scss */
#nicu .panel-six .panel-left {
  padding: 0px 0px 10px 45px;
  width: 420px;
}
/* line 89, assets/sass/_nicu.scss */
#nicu .panel-six .panel-left .panel-text {
  width: 380px;
}
/* line 92, assets/sass/_nicu.scss */
#nicu .panel-six .panel-left .panel-text p.small-italic {
  font-size: 12px;
  line-height: 20px;
  font-style: italic;
}
/* line 94, assets/sass/_nicu.scss */
#nicu .panel-six .panel-left img {
  margin: -10px 0px 0px 30px;
}
/* line 97, assets/sass/_nicu.scss */
#nicu .panel-six .panel-right {
  width: 400px;
  padding: 220px 0px 0px 45px;
}
/* line 105, assets/sass/_nicu.scss */
#nicu .panel-seven {
  background: url("assets/img/nicu-7.jpg") top right no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 80px;
}
/* line 108, assets/sass/_nicu.scss */
#nicu .panel-seven .panel-text {
  width: 390px;
  padding: 50px 0px 80px 45px;
}
/* line 109, assets/sass/_nicu.scss */
#nicu .panel-seven .panel-text h2 {
  color: white;
}
/* line 113, assets/sass/_nicu.scss */
#nicu .panel-seven .panel-text p {
  color: white;
}
/* line 114, assets/sass/_nicu.scss */
#nicu .panel-seven .panel-text blockquote {
  color: #d29c0e;
}
/* line 120, assets/sass/_nicu.scss */
#nicu .panel-eight {
  margin-bottom: 150px;
}
/* line 121, assets/sass/_nicu.scss */
#nicu .panel-eight .panel-left {
  padding: 100px 0px 10px 45px;
  width: 420px;
}
/* line 124, assets/sass/_nicu.scss */
#nicu .panel-eight .panel-left .panel-text {
  width: 380px;
  padding: 30px 0px 0px 0px;
}
/* line 127, assets/sass/_nicu.scss */
#nicu .panel-eight .panel-left .panel-text p.small-italic {
  font-size: 12px;
  line-height: 20px;
  font-style: italic;
}
/* line 129, assets/sass/_nicu.scss */
#nicu .panel-eight .panel-left img {
  margin: -10px 0px 0px 30px;
}
/* line 132, assets/sass/_nicu.scss */
#nicu .panel-eight .panel-right {
  width: 400px;
  padding: 00px 0px 0px 45px;
}
/* line 140, assets/sass/_nicu.scss */
#nicu .panel-nine {
  background: url("assets/img/nicu-9.jpg") top right no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 130px;
}
/* line 144, assets/sass/_nicu.scss */
#nicu .panel-nine .panel-full1 {
  padding: 30px 0px 0px 600px;
  width: 380px;
}
/* line 150, assets/sass/_nicu.scss */
#nicu .panel-nine .panel-full2 {
  padding: 80px 0px 80px 45px;
  width: 380px;
}
/* line 151, assets/sass/_nicu.scss */
#nicu .panel-nine .panel-full2 blockquote {
  color: #d29c0e;
}
/* line 152, assets/sass/_nicu.scss */
#nicu .panel-nine .panel-full2 p {
  color: white;
}
/* line 161, assets/sass/_nicu.scss */
#nicu .panel-ten {
  margin-bottom: 150px;
}
/* line 162, assets/sass/_nicu.scss */
#nicu .panel-ten .panel-left {
  padding: 50px 0px 10px 45px;
  width: 460px;
}
/* line 166, assets/sass/_nicu.scss */
#nicu .panel-ten .panel-right {
  padding: 0px 0px 10px 15px;
  width: 400px;
}
/* line 174, assets/sass/_nicu.scss */
#nicu .panel-eleven {
  background: url("assets/img/nicu-11.jpg") top right no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 80px;
}
/* line 177, assets/sass/_nicu.scss */
#nicu .panel-eleven .panel-left {
  padding: 130px 0px 30px 45px;
  width: 360px;
}
/* line 178, assets/sass/_nicu.scss */
#nicu .panel-eleven .panel-left blockquote {
  color: #d29c0e;
}
/* line 179, assets/sass/_nicu.scss */
#nicu .panel-eleven .panel-left p {
  color: white;
}
/* line 183, assets/sass/_nicu.scss */
#nicu .panel-eleven .panel-right {
  padding: 650px 0px 30px 45px;
  width: 380px;
}
/* line 184, assets/sass/_nicu.scss */
#nicu .panel-eleven .panel-right h2 {
  color: white;
}
/* line 185, assets/sass/_nicu.scss */
#nicu .panel-eleven .panel-right p {
  color: white;
}
/* line 192, assets/sass/_nicu.scss */
#nicu .panel-twelve {
  margin-bottom: 100px;
}
/* line 193, assets/sass/_nicu.scss */
#nicu .panel-twelve .panel-left {
  padding: 0px 0px 0px 45px;
  width: 380px;
}
/* line 197, assets/sass/_nicu.scss */
#nicu .panel-twelve .panel-right {
  padding: 0px 0px 10px 45px;
  width: 580px;
}

/* ----------- TIMELINE ------------- */
/* line 3, assets/sass/_timeline.scss */
#timeline {
  left: 200%;
}
/* line 6, assets/sass/_timeline.scss */
#timeline .panel-wrap {
  background: url("assets/img/timeline-bg.jpg") top left no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 12, assets/sass/_timeline.scss */
#timeline h1 {
  padding: 75px 0px 10px 0px;
  width: 390px;
}
/* line 13, assets/sass/_timeline.scss */
#timeline h3 {
  font: 14px/20px Georgia, Times, "Times New Roman", serif;
  color: #020202;
  font-style: italic;
  width: 350px;
  text-transform: none;
}
/* line 15, assets/sass/_timeline.scss */
#timeline .time-block {
  width: 550px;
  padding: 0px 0px 0px 100px;
}
/* line 18, assets/sass/_timeline.scss */
#timeline .time-block h2 {
  font: 24px/40px "Cabin", sans-serif;
  color: #d29c0e;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 0px 0px 10px 0px;
}
/* line 19, assets/sass/_timeline.scss */
#timeline .time-block h4 {
  text-align: center;
}
/* line 20, assets/sass/_timeline.scss */
#timeline .time-block h5 {
  font: 14px/20px "Cabin", sans-serif;
  color: #d29c0e;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  padding: 0px 0px 0px 0px;
}
/* line 21, assets/sass/_timeline.scss */
#timeline .time-block a {
  color: #020202;
  text-decoration: underline;
}
/* line 22, assets/sass/_timeline.scss */
#timeline .time-block a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 25, assets/sass/_timeline.scss */
#timeline .even {
  padding-left: 340px;
}
/* line 27, assets/sass/_timeline.scss */
#timeline .even .vertical-line {
  margin: 10px 0px 10px 20px;
}
/* line 33, assets/sass/_timeline.scss */
#timeline .odd .vertical-line {
  margin: 10px 0px 10px 540px;
}
/* line 37, assets/sass/_timeline.scss */
#timeline .line-title {
  background: url("assets/img/line-2.png") top left no-repeat;
  height: 183px;
  margin: 10px 0px 10px 280px;
}
/* line 38, assets/sass/_timeline.scss */
#timeline .line-1 {
  background: url("assets/img/line-1.png") top left no-repeat;
  height: 91px;
}
/* line 39, assets/sass/_timeline.scss */
#timeline .line-2 {
  background: url("assets/img/line-2.png") top left no-repeat;
  height: 183px;
}
/* line 40, assets/sass/_timeline.scss */
#timeline .line-3 {
  background: url("assets/img/line-3.png") top left no-repeat;
  height: 74px;
}
/* line 41, assets/sass/_timeline.scss */
#timeline .line-4 {
  background: url("assets/img/line-4.png") top left no-repeat;
  height: 116px;
}
/* line 43, assets/sass/_timeline.scss */
#timeline .callout h3 {
  font: 20px/30px Georgia, Times, "Times New Roman", serif;
  color: #020202;
  font-style: italic;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 550px;
}

/* ----------- INTERACTIVE MAP ------------- */
/* line 2, assets/sass/_map.scss */
#map {
  left: 300%;
  overflow: hidden;
}
/* line 5, assets/sass/_map.scss */
#map .panel-wrap {
  height: 100%;
  overflow: hidden;
  background: url("assets/img/map-bg.jpg") top left no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 12, assets/sass/_map.scss */
#map .map-intro {
  padding: 25px 0px 0px 50px;
  position: relative;
  z-index: 1000;
}
/* line 14, assets/sass/_map.scss */
#map .map-intro h1 {
  font: 32px/36px Georgia, Times, "Times New Roman", serif;
  color: white;
  display: inline;
  float: left;
}
/* line 15, assets/sass/_map.scss */
#map .map-intro .intro-text {
  width: 380px;
  display: inline;
  float: left;
  margin: 0px 0px 0px 30px;
  padding: 10px 10px 0px 10px;
  background: rgba(0, 0, 0, 0.7);
}
/* line 18, assets/sass/_map.scss */
#map .map-intro .intro-text p {
  font: 12px/15px Georgia, Times, "Times New Roman", serif;
  color: white;
  font-style: italic;
}
/* line 24, assets/sass/_map.scss */
#map .zoom-out {
  position: absolute;
  z-index: 1001;
  top: 40px;
  right: 20px;
}
/* line 29, assets/sass/_map.scss */
#map .zoom-out a {
  color: white;
}
/* line 30, assets/sass/_map.scss */
#map .zoom-out a:hover {
  text-decoration: underline;
}
/* line 35, assets/sass/_map.scss */
#map .step {
  position: relative;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 49, assets/sass/_map.scss */
#map .impress-enabled .step {
  margin: 0;
  /*opacity: 0.3;*/
  opacity: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
/* line 61, assets/sass/_map.scss */
#map .impress-enabled .step.active {
  opacity: 1;
}
/* line 64, assets/sass/_map.scss */
#map .slide {
  display: block;
  width: 950px;
  padding: 0px;
  max-height: 230px;
  font-size: 20px;
  z-index: 23;
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  transition: max-height 0.8s;
}
/* line 71, assets/sass/_map.scss */
#map .slide span:hover {
  opacity: 0.7;
  cursor: pointer;
}
/* line 77, assets/sass/_map.scss */
#map span.number {
  color: #d29c0e;
  font-family: georgia;
  font-size: 110px;
  -webkit-transition: all .5s ease-in;
  position: relative;
  z-index: 10000;
}
/* line 78, assets/sass/_map.scss */
#map span.subtext {
  font: 24px/30px "Cabin", sans-serif;
  font-weight: bold;
  color: #d29c0e;
  display: block;
  text-transform: uppercase;
  -webkit-transition: all .5s ease-in;
}
/* line 79, assets/sass/_map.scss */
#map .number-wrap {
  display: inline;
  float: left;
  width: 350px;
  text-align: right;
}
/* line 83, assets/sass/_map.scss */
#map .content {
  width: 500px;
  display: inline;
  float: left;
  opacity: 0;
  margin-left: 40px;
  -webkit-transition: all .5s ease-in;
}
/* line 91, assets/sass/_map.scss */
#map .content p {
  color: white;
  font-size: 16px;
  line-height: 26px;
}
/* line 96, assets/sass/_map.scss */
#map .content img {
  max-width: 100%;
  margin: 10px 0px 10px 0px;
}
/* line 100, assets/sass/_map.scss */
#map #wa .number-wrap {
  width: 400px;
}
/* line 101, assets/sass/_map.scss */
#map #wa .content {
  width: 450px;
}
/* line 104, assets/sass/_map.scss */
#map #oh .number-wrap {
  width: 400px;
}
/* line 105, assets/sass/_map.scss */
#map #oh .content {
  width: 450px;
}
/* line 109, assets/sass/_map.scss */
#map #usa .number-wrap {
  width: 900px;
  display: block;
}
/* line 110, assets/sass/_map.scss */
#map #usa .content {
  width: 500px;
  display: block;
}
/* line 111, assets/sass/_map.scss */
#map #usa span.number {
  font-size: 170px;
}
/* line 115, assets/sass/_map.scss */
#map .step.active div.content {
  opacity: 1;
  -webkit-transition: all 2s ease-in;
}
/* line 117, assets/sass/_map.scss */
#map .left-nav {
  position: absolute;
  height: 0px;
  width: 30%;
  top: 92%;
  left: 8%;
  float: left;
}
/* line 117, assets/sass/_map.scss */
#map .left-nav a {
  position: relative;
  left: 7%;
}
/* line 118, assets/sass/_map.scss */
#map .left-nav .fa {
  font-size: 45px;
  position: relative;
  top: 8px;
  right: 5px;
}
/* line 120, assets/sass/_map.scss */
#map .right-nav {
  position: absolute;
  height: 0px;
  top: 92%;
  right: 1%;
  float: right;
}
/* line 120, assets/sass/_map.scss */
#map .right-nav a {
  float: right;
  position: relative;
  right: 10%;
}
/* line 121, assets/sass/_map.scss */
#map .right-nav .fa {
  font-size: 45px;
  position: relative;
  top: 8px;
  left: 5px;
}

/** Stately setup
*************************************/
@font-face {
  font-family: 'stately-webfont';
  src: url("assets/font/stately-webfont.eot");
  src: url("assets/font/stately-webfont.eot?#iefix") format("embedded-opentype"), url("assets/font/stately-webfont.woff") format("woff"), url("assets/font/stately-webfont.ttf") format("truetype"), url("assets/font/stately-webfont.svg#testfontRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 12, assets/sass/_states.scss */
.stately {
  font: normal normal 1000px "stately-webfont";
  line-height: 100%;
  font-size-adjust: none;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga=1";
  -ms-font-feature-settings: "liga" 1;
  -ms-font-feature-settings: "liga", "dlig";
  width: 90%;
  display: block;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  border-radius: 0;
  -webkit-transition: all .2s ease-in;
}

/* line 33, assets/sass/_states.scss */
.stately li {
  float: left;
  margin: -5% 0 0 -100%;
  position: relative;
  left: 90%;
  width: 100%;
  cursor: default;
  -webkit-transition: all .8s ease-in;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #474644;
}

/** Style customizations
*************************************/
/* line 56, assets/sass/_states.scss */
#plain li.inactive {
  color: #2b2a29;
}

/* ----------- CEO LETTER ------------- */
/* line 2, assets/sass/_letters.scss */
#ceo-letter {
  left: 600%;
}
/* line 4, assets/sass/_letters.scss */
#ceo-letter .left-nav {
  position: relative;
  height: 0px;
  width: 50%;
  top: 30px;
  left: -160px;
}

/* ----------- EDITOR LETTER ------------- */
/* line 8, assets/sass/_letters.scss */
#editor-letter {
  left: 500%;
}

/* ----------- LETTER ------------- */
/* line 15, assets/sass/_letters.scss */
.letter .panel-wrap {
  background: url("assets/img/letter-bg.jpg") top left no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #020202;
  min-height: 1000px;
}
/* line 25, assets/sass/_letters.scss */
.letter h1 {
  font: 26px/30px bold "Cabin", sans-serif, sans-serif;
  color: #d29c0e;
  text-transform: uppercase;
  width: 300px;
  font-weight: bold;
  padding: 0px 0px 40px 0px;
}
/* line 33, assets/sass/_letters.scss */
.letter .text-container {
  width: 500px;
  padding-left: 200px;
  padding-top: 90px;
}

/**
 * Featherlight - ultra slim jQuery lightbox
 * Version 1.0.1 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2014, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
  /* line 8, assets/sass/_featherlight.scss */
  .featherlight {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    background: #333;
    background: rgba(0, 0, 0, 0);
  }

  /* line 8, assets/sass/_featherlight.scss */
  .featherlight:last-of-type {
    background: rgba(0, 0, 0, 0.8);
  }

  /* line 8, assets/sass/_featherlight.scss */
  .featherlight:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -.25em;
  }

  /* line 8, assets/sass/_featherlight.scss */
  .featherlight .featherlight-content {
    position: relative;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    overflow: auto;
    padding: 25px 25px 0;
    border-bottom: 25px solid transparent;
    min-width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    max-height: 95%;
    background: #000;
    cursor: auto;
    white-space: normal;
  }

  /* line 8, assets/sass/_featherlight.scss */
  .featherlight .featherlight-inner {
    display: block;
  }

  /* line 8, assets/sass/_featherlight.scss */
  .featherlight .featherlight-close-icon {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    line-height: 25px;
    width: 25px;
    cursor: pointer;
    text-align: center;
    font: Arial,sans-serif;
    background: #fff;
    background: rgba(255, 255, 255, 0.3);
    color: #000;
  }

  /* line 8, assets/sass/_featherlight.scss */
  .featherlight .featherlight-image {
    width: 100%;
  }

  /* line 8, assets/sass/_featherlight.scss */
  .featherlight-iframe .featherlight-content {
    border-bottom: 0;
    padding: 0;
  }

  /* line 8, assets/sass/_featherlight.scss */
  .featherlight iframe {
    border: 0;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 8, assets/sass/_featherlight.scss */
  .featherlight .featherlight-content {
    margin-left: 10px;
    margin-right: 10px;
    max-height: 98%;
    padding: 10px 10px 0;
    border-bottom: 10px solid transparent;
  }
}
