/* #Reset  (Inspired by E. Meyers)
================================================== */
/* line 3, assets/sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 10, assets/sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 12, assets/sass/_reset.scss */
body {
  line-height: 1;
}

/* line 14, assets/sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 16, assets/sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 19, assets/sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 22, assets/sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 1;
}

/* Table of Content
==================================================
	#Imports
	#Variables
	#Reset
	#Basic Styles
	#Images
	#Buttons
	#Tabs
	#Forms
	#Misc */
/* COMPASS IMPORTS
================================================= */
/* VARIABLES
================================================= */
/* #Breakpoint Mixins
================================================== */
/* #Basic Styles
================================================== */
/* line 61, assets/sass/_base.scss */
body {
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

/* line 65, assets/sass/_base.scss */
a {
  text-decoration: none;
}

/* line 66, assets/sass/_base.scss */
strong {
  font-weight: bold;
}

/* line 67, assets/sass/_base.scss */
em {
  text-style: italic;
}

/* line 69, assets/sass/_base.scss */
.hide {
  display: none;
}

/* line 70, assets/sass/_base.scss */
.show {
  display: block;
}

/* #Buttons
================================================== */
/* #Forms
================================================== */
/* #Images
================================================== */
/* line 90, assets/sass/_base.scss */
img {
  max-width: 100%;
  height: auto;
}

/* WordPress Image Styles
   ========================================================================== */
/* line 95, assets/sass/_base.scss */
.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 96, assets/sass/_base.scss */
.aligncenter, div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

/* line 97, assets/sass/_base.scss */
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

/* line 98, assets/sass/_base.scss */
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

/* line 99, assets/sass/_base.scss */
.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

/* line 100, assets/sass/_base.scss */
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

/* line 101, assets/sass/_base.scss */
a img.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 102, assets/sass/_base.scss */
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

/* line 103, assets/sass/_base.scss */
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 104, assets/sass/_base.scss */
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}

/* line 105, assets/sass/_base.scss */
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 106, assets/sass/_base.scss */
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

/* line 107, assets/sass/_base.scss */
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

/* line 108, assets/sass/_base.scss */
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

/* line 109, assets/sass/_base.scss */
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* line 2, assets/sass/_typography.scss */
html, body {
  font: 14px/18px;
  color: #565656;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 7, assets/sass/_typography.scss */
h1 {
  font: bold 40px/42px;
  margin: 0 0 0.3em;
  text-transform: uppercase;
}

/* line 8, assets/sass/_typography.scss */
h2 {
  font: italic 25px/29px;
  margin: 0 0 0.25em;
}

/* line 9, assets/sass/_typography.scss */
h3 {
  font: bold 23px/25px;
  margin: 0 0 0.2em;
  text-transform: uppercase;
}

/* line 10, assets/sass/_typography.scss */
h4 {
  font: bold 18px/23px;
  margin: 0 0 0;
  text-transform: uppercase;
}

/* line 11, assets/sass/_typography.scss */
h5 {
  font: bold 18px/23px;
  margin: 0 0 0;
  text-transform: uppercase;
}

/* line 12, assets/sass/_typography.scss */
h6 {
  font: 18px/22px;
  margin: 0 0 0;
}

/* line 15, assets/sass/_typography.scss */
p {
  margin: 0 0 .6em;
  word-wrap: break-word;
}

/* line 19, assets/sass/_typography.scss */
#date-time {
  font: bold 14px/18px;
  margin: 0;
}

/* line 20, assets/sass/_typography.scss */
#subtitle {
  font: 14px/18px;
  margin: 0 0 1.25em;
}

/* line 21, assets/sass/_typography.scss */
#readmore {
  font: italic bold 14px/18px;
  margin: 0 0 1.6em;
}

/* line 22, assets/sass/_typography.scss */
#meta-small {
  font: bold 11px/18px;
  margin: 0 0 .3em;
}

/* line 25, assets/sass/_typography.scss */
#caption-minion, .wp-caption-text {
  font: 12px/16px;
  margin: 0 0 .1em;
}

/* line 26, assets/sass/_typography.scss */
#caption-minion-italicbold {
  font: italic bold 12px/18px;
  margin: 0 0 .1em;
}

/* line 27, assets/sass/_typography.scss */
#caption-nimbus-condensed {
  font: 12px/18px;
  margin: 0 0 .1em;
}

/* line 30, assets/sass/_typography.scss */
a {
  color: #0397d6;
  text-decoration: none;
}

/* line 31, assets/sass/_typography.scss */
a:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* line 34, assets/sass/_typography.scss */
ul {
  list-style: disc inside;
  margin: 0 0 .6em;
}

/* line 35, assets/sass/_typography.scss */
ul li {
  margin: 2px 0;
}

/* line 36, assets/sass/_typography.scss */
ol {
  list-style: decimal inside;
  margin: 0 0 .6em;
}

/* line 37, assets/sass/_typography.scss */
ol li {
  margin: 2px 0;
}

/* line 40, assets/sass/_typography.scss */
blockquote {
  margin: 0 10%;
  font: 20px/23px;
}

/* line 2, assets/sass/_layout.scss */
body {
  overflow-x: hidden;
}

/* line 8, assets/sass/_layout.scss */
nav.menu {
  position: fixed;
  z-index: 20;
  background-color: #67b5d1;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 20, assets/sass/_layout.scss */
nav.push-menu-left {
  top: 0;
  height: 100%;
  width: 300px;
}

/* line 26, assets/sass/_layout.scss */
nav.push-menu-left {
  left: -200px;
}

/* line 30, assets/sass/_layout.scss */
body.pml-open nav.push-menu-left {
  left: 0;
}

/* line 35, assets/sass/_layout.scss */
body.pml-open .panel-wrap {
  margin-left: 300px;
}

/* line 39, assets/sass/_layout.scss */
.credits-menu-left {
  position: fixed;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: #000;
  left: -300px;
  z-index: 10;
}

/* line 54, assets/sass/_layout.scss */
body.credits-open .credits-menu-left {
  left: 300px;
}

/* line 60, assets/sass/_layout.scss */
.mask {
  position: fixed;
  top: 0;
  left: 300px;
  width: 100%;
  height: 100%;
}

/* line 72, assets/sass/_layout.scss */
#open {
  z-index: 200;
  position: absolute;
  top: 20px;
  right: 20px;
}

/* line 74, assets/sass/_layout.scss */
.panel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: auto;
}

/* line 84, assets/sass/_layout.scss */
.panel-wrap {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 95, assets/sass/_layout.scss */
#timeline .panel-wrap {
  height: 5500px;
  background: url("assets/img/timeline-bg.jpg") top left no-repeat;
  color: #000;
  background-color: #ffcc00;
}
@media only screen and (min-width: 1400px) {
  /* line 95, assets/sass/_layout.scss */
  #timeline .panel-wrap {
    background-color: #ff0000;
  }
}
/* line 105, assets/sass/_layout.scss */
#timeline .panel-wrap .block {
  position: relative;
}
/* line 108, assets/sass/_layout.scss */
#timeline .panel-wrap .timeline-title {
  top: 70px;
  left: 200px;
  width: 450px;
  height: 200px;
  background-color: #ccc;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 116, assets/sass/_layout.scss */
#timeline .panel-wrap .timeline-one {
  top: 200px;
  left: 200px;
  width: 560px;
  height: 300px;
  background-color: #ccc;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 125, assets/sass/_layout.scss */
#timeline .panel-wrap .timeline-two {
  top: 500px;
  left: 200px;
  width: 560px;
  height: 300px;
  background-color: #ccc;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 133, assets/sass/_layout.scss */
#timeline .panel-wrap .timeline-three {
  top: 1000px;
  left: 200px;
  width: 560px;
  height: 300px;
  background-color: #ccc;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}

/* line 144, assets/sass/_layout.scss */
#section2 {
  left: 100%;
  background: #f05135;
  color: #fff;
}

/* line 149, assets/sass/_layout.scss */
#section3 {
  left: 200%;
  background: #565656;
  color: #fff;
}

/* line 154, assets/sass/_layout.scss */
#section4 {
  left: 300%;
  background: #0397d6;
  color: #fff;
}
