

/* Table of Content
==================================================
	#Imports
	#Variables
	#Reset
	#Basic Styles
	#Images
	#Buttons
	#Tabs
	#Forms
	#Misc */


/* COMPASS IMPORTS
================================================= */
@import "compass/css3";

/* VARIABLES
================================================= */
//namespace
 

//colors
$gray : #565656;
$teal: #28BDB3;
$red: #F05135;
$blue: #0397D6;
 
 
/* #Breakpoint Mixins
================================================== */

@mixin breakpoint($point) {
  @if $point == widescreen {
    @media only screen and (min-width: 1400px){ @content; }
  }
  @if $point == smallscreen {
    @media only screen and (min-width: 768px) and (max-width: 1399px){ @content; }
  }
  @else if $point == tablet  {
    @media only screen and (max-width: 767px){ @content; }
  }
  @else if $point == landscape {
    @media only screen and (min-width: 480px) and (max-width: 767px)  { @content; }
  }
  @else if $point == portrait{
    @media only screen and (max-width: 479px) { @content; }
  }
}
//fonts
 

// KCPL specific classes
 


/* #Basic Styles
================================================== */
body {
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
 }
a{text-decoration:none;}
strong{font-weight:bold;}
em{text-style:italic;}

.hide{display:none;}
.show{display:block;}


/* #Buttons
================================================== */
button{}


/* #Forms
================================================== */
input[type="text"]{}
input[type="password"]{}
input[type="search"]{}
input[type="email"]{}
input[type="number"]{}
input[type="submit"]{}


/* #Images
================================================== */
img{max-width:100%;height:auto;}


/* WordPress Image Styles
   ========================================================================== */
.alignnone {margin: 5px 20px 20px 0;}
.aligncenter,div.aligncenter {display: block;margin: 5px auto 5px auto;}
.alignright {float:right;margin: 5px 0 20px 20px;}
.alignleft {float: left;margin: 5px 20px 20px 0;}
.aligncenter {display: block;margin: 5px auto 5px auto;}
a img.alignright {float: right;margin: 5px 0 20px 20px;}
a img.alignnone {margin: 5px 20px 20px 0;}
a img.alignleft {float: left;margin: 5px 20px 20px 0;}
a img.aligncenter {display: block;margin-left: auto;margin-right: auto}
.wp-caption {background: #fff;border: 1px solid #f0f0f0;max-width: 96%;padding: 5px 3px 10px;text-align: center;}
.wp-caption.alignnone {margin: 5px 20px 20px 0;}
.wp-caption.alignleft {margin: 5px 20px 20px 0;}
.wp-caption.alignright {margin: 5px 0 20px 20px;}
.wp-caption img {border: 0 none;height: auto;margin: 0;max-width: 98.5%;padding: 0;width: auto;}
.wp-caption p.wp-caption-text {font-size: 11px;line-height: 17px;margin: 0;padding: 0 4px 5px;}
