/* ----------- GRADY ------------- */
#grady{
  left: 100%;
  overflow-x: hidden;
  .intro{
    background-color: $black;
    @include breakpoint(small) {width: 100%;}
    h1{
      font-size: 81px; line-height: 88px; color: $white; padding: 250px 0px 0px 210px; text-transform:uppercase; width: 640px; 
      position:relative; z-index:10;
      @include breakpoint(small) {
        padding: 70px 10% 18px 10%; width: 60%; font-size: 40px; line-height: 48px;
      }
      @media only screen and (min-width: 768px) and (max-width: 1060px){ padding-left: 60px;  width: 540px;}
    }
    .teal-line{
      padding: 20px 0px 0px 0px; 
      margin-left:190px;
      height: 20px; 
      border-left: 3px solid $teal;
      border-right: 3px solid $teal;
      width: 680px; 
      position:relative; z-index:10;
      hr {color: $teal; background-color: $teal; border:none;  width: 100%; height: 3px;position: relative; top: -10px}
      @include breakpoint(small) {
        width: 70%; margin-left:5%;
      }
      @media only screen and (min-width: 768px) and (max-width: 1060px){ margin-left: 40px; width: 530px; }
    }
    
    h2{
      color: $white; padding: 20px 0px 20px 210px; width: 610px; font-style: italic;
      @include breakpoint(small) {
        width: 60%;  padding: 10px 10% 18px 10%;  font-size: 24px; line-height: 30px;
      }
      @media only screen and (min-width: 768px) and (max-width: 1060px){ padding-left: 60px; width: 530px; }
    }
    .fa-angle-down{
      padding: 0px 0px 230px 480px;
      font-size: 80px; color: $white;
       @include breakpoint(small) {
        padding: 0px 0px 90px 47%;
        font-size: 20px;
       }
       @media only screen and (min-width: 768px) and (max-width: 1060px){ padding-left:45%; }
    }

    img{
      position:absolute; left:960px; top:20px; z-index:2;
      @include breakpoint(small) {
        width: 40%;  position:absolute; left:85%; top:120px;
      }

    }
  }

  .bg-black{
    background-color: $black;
    margin-bottom: 0px;
    p {color: $white; }
    blockquote{color: $white;}
    a{color:$white; text-decoration: underline;}
    a:hover{@include opacity(0.7)}
  }

  .bg-white{
    background-color: $white; 
    margin: 0;
    p {color: $black; }
    a{color:$black; text-decoration: underline;}
    a:hover{@include opacity(0.7)}
  }
  
  .text-container{
    width:500px;
    padding-left: 200px;
    img{padding-left:70px;}
    .white-line{
      display: block;
      margin: 50px 0px 40px 180px;
      width: 100px;
      height: 7px;
      background-color:$white; 
      @include breakpoint(small) { margin: 0 auto; margin-top: 20px; margin-bottom:25px; }
    }
    .black-line{
      display: block;
      margin: 50px 0px 40px 180px;
      width: 100px;
      height: 7px;
      background-color:$black; 
      @include breakpoint(small) { margin: 0 auto; margin-top: 20px; margin-bottom:25px; }
    }

    @include breakpoint(small) {
        width: 80%; padding: 20px 10% 0 10%;
        img{padding-left: 10%; max-width: 80%}
        blockquote{width:80%; margin: 20px 10% 20px 10% }
    }

    @media only screen and (min-width: 768px) and (max-width: 1060px){ padding-left: 50px; }


  }

  .transition-one{
    background: url('assets/img/grady-transition-one.jpg')top left no-repeat;
    @include background-size(cover);
    height: 300px;
    margin-top: 0px; margin-bottom:0px;
  }
  
  .section-two{
      p.neg-top{
        position: relative;
        top: -100px;
      }
      p.neg-top-fix{
        margin-top: -100px;
      }
      img{position:absolute; left:800px; top:2150px; 
        @include breakpoint(small) {display:inline; position:relative; left: auto; top: auto; width: 100%} 
      }
      .brahms{font-size:24px; color:$gold; font-style: italic; position:absolute; left:920px; top:3512px; width: 300px;}
  }

  .transition-grady-ruins{
    background: url('assets/img/grady-ruins.jpg')top left no-repeat;
    //@include background-size(cover);
    height: 950px;
    background-color: $black;
    margin-top: -0px; margin-bottom:0px;
    @include breakpoint(small) {
      background: url('assets/img/grady-ruins-small.jpg') $black top left no-repeat;
      height: 576px;
      @include background-size(contain); 
    }
    @media only screen and (max-width: 480px){ height: 300px; }
    @media only screen and (max-width: 320px){ height: 230px; }
  }


  .section-three{
    padding-top: 40px;
  }

  .transition-three{
    background: url('assets/img/grady-transition-three.png')top left no-repeat;
    //@include background-size(cover);
    height: 450px;
    background-color: $white;
    margin-top: -280px; margin-bottom:0px;
  }

  .section-four{
    padding-top: 0px;
    padding-bottom: 50px;
    position: relative;
    img{
      position:absolute; left: 780px; top:58px;
 
      @include breakpoint(small) {
         display:block; width:100%;float:left; top:auto; left: auto; padding-bottom:0px; position:relative;
      }
    }
    @include breakpoint(small) {
        //margin-bottom: 500px;
          padding-bottom: 0px;
    }
  }

  .section-five{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: -40px;
    z-index: 15;
    position:relative;
    img{position:absolute; right:0px; top:400px;
       @media only screen and (max-width: 1325px){ width: 350px; }
       @media only screen and (max-width: 1130px){ width: 200px;  }
       @include breakpoint(small) { display: none;  }
       @media only screen and (min-width: 768px) and (max-width: 1060px){ display: none; }
    }

    @include breakpoint(small) {
      margin-top: 0px;
    }
  }  

  .section-six{
    padding-top: 50px;
    padding-bottom: 50px;
  } 

  .transition-skyline{
    background: url('assets/img/grady-skyline.jpg')top left no-repeat;
    //@include background-size(cover);
    height: 1330px;
    background-color: $white;
    margin-top: 0px; margin-bottom:0px;
    @include breakpoint(small) {
      background: url('assets/img/grady-skyline-small.jpg') $black top left no-repeat;
      @include background-size(contain);
      height: 755px;
      @media only screen and (max-width: 480px){ height: 500px; }
      @media only screen and (max-width: 320px){ height: 500px; }
    }
  }

  .section-seven{
    p.neg-top{
      position: relative;
      top: -300px;
    }
    p.neg-top-fix{
      margin-top: -300px;
    }
  }

  .section-eight{
    padding-top: 30px;
    padding-bottom: 30px;
  } 
  .section-nine{
    padding-top: 30px;
    padding-bottom: 120px;
  } 

  .transition-mic {
    img{position:absolute; right: 0px; margin-top: -103px}
    //background: url('assets/img/grady-mic.jpg') top left no-repeat;
    //@include background-size(100%);
    height: 400px;
    background-color: $white;
    //margin-top: -250px; margin-bottom:0px;
    //@media only screen and (min-width: 1400px){height: 900px;}


  }

  .section-ten{
    padding-bottom: 0px;
    padding-top:30px;
    img#mic{
      position:absolute; right: 0px; margin-top: -133px;
      @media only screen and (max-width: 1220px){display:none; position:relative; float: right; width: 30%}
    }
    p.neg-top{
      position: relative;
      top: -330px;
    }
    p.neg-top-fix{
     margin-top: -330px;
    }
   
  }

  .grady-end{
    background: url('assets/img/grady-end.jpg')top left no-repeat;
    @include background-size(cover);
    height: 940px;
    background-color: $white;
    margin-top: -600px; margin-bottom:0px;
    img{display: none;}
    @include breakpoint(small) {
      img{display: block; width:100%;}
      margin-top: 0px; margin-bottom:0px;
      background: transparent;
      height:30%;
    }

    
  }

  @include breakpoint(small) {
    .left-nav{ width: 50%; bottom: 20px; float:left; font-size:13px;}
    .right-nav{  width: 50%; bottom: 20px; float: right;  font-size:13px; }
  }


}
