
body {
  overflow-x: hidden
}


//NAVIGATION MENU

/* --- Small Menu Desktop --- */
nav.menu {
    position: fixed;
    z-index: 20;
    background-color: $black;
    //overflow: hidden;

    @include animate(.3s);

    #logo img{margin: 30px 10px 15px 15px; width:70% }
    .tagline{display: none;}
    
    .main-menu{
      margin-top:90px;
    }
    .menu-item{
      margin-bottom: 30px; padding: 3px 5px 3px 10px;  position:relative;  overflow: hidden; ; 
      .text{width: 80px; position:relative; top: 0px;  z-index:12; }
      span.num{display: none; }
      span.title{display: inline-block; width: 65px; font-size: 13px; color: $white; line-height: 15px; color: $white;  }
      img{display:none; ;}
      &:hover{background-color:$gold;}
    }
    
    .secondary-menu{
      //position: fixed; bottom: 0px;
      margin-top: 200px;
      ul{
        margin: 20px 0px 20px 0px;
        li{
          list-style-type: none; font-size: 13px; color: $white; line-height: 15px; color: $white;padding: 3px 5px 3px 10px; width: 65px;  @include animate(0.3s);
          a{color: $white} 
          a:hover{text-decoration: none;}
          &:hover{background-color: $gold;}
        }
      }
      img{width: 80%; margin: 20px 10px 20px 10px;  @include animate(0.3s); }


    }
 
}

//CREDITS MENU 
.credits-menu-left{
    position: fixed;
    overflow: hidden;
    
    @include animate(0.3s);
    top: 0;
    width: 210px;
    height: 100%;
    background-color: $darkgray;
    left: -150px;
    z-index: 10;
    color: $white;
    .credits-wrap{ 
      padding: 30px 15px 15px 15px;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: -15px; /* Increase this value (in negative) for cross-browser compatibility */
      overflow: auto;
    } 
    p{
      font-size: 11px; line-height: 17px; color: $white;
    }
    p.top-one{margin-bottom: 140px;}
    p.top-two{margin-bottom: 40px;}
    h4{font:11px/17px $cabin ; color: $white; letter-spacing: 0.1em; text-transform:uppercase;}
    a{color:$white; text-decoration:underline;}
}
body.pml-open.credits-open .credits-menu-left{
    left: 160px;
}

body.credits-open .credits-menu-left{
    left: 80px;
}

.close-credits-menu{
  position: absolute; 
  top: 10px; right: 10px;
  z-index: 20;
  color: $white;
  &:hover{@include opacity(0.7)}
}




/* --- Open Menu Desktop --- */
body.pml-open nav.menu{
  #logo img{margin: 30px 10px 15px 20px; }
    .tagline{color: $white; font-size:11px; line-height:16px; font-style: italic; font-weight: bold; margin-left: 20px; }
    
    .main-menu{
      margin-top:50px;
    }
    .menu-item{
      margin-bottom: -40px; margin-left: 20px;  position:relative; height: 120px; overflow: hidden; @include animate(0.3s);
      .text{width: 130px; position:relative; top: -60px;  z-index:12; }
      span.num{display: block; display: inline-block; width: 20px; font-size: 48px; color: $white; padding-left:10px; }
      span.title{display: inline-block; width: 70px; font-size: 14px; color: $white; line-height: 18px; color: $white; padding-left:10px; }
      img{display: block; position: relative; z-index:2; @include opacity(0.5);  @include animate(0.3s);}
      &:hover{
        cursor: pointer; 
        background-color: transparent;
        img{  @include opacity(0.8);}
      }
    }
    
    .secondary-menu{
      //position: fixed; bottom: 0px;
      margin-top: 200px;
      ul{
        margin: 20px 0px 20px 0px;
        li{
          list-style-type: none; font-size: 14px; color: $white; line-height: 18px; color: $white; padding: 3px 0px 3px 20px; width: 140px;
          a{color: $white} 
          a:hover{text-decoration: none;}
          &:hover{background-color: $gold;}
        }
      }
      img{margin: 20px 0px 20px 20px }
    }
}

nav.push-menu-left {
    top: 0;
    height: 100%;
    width: 80px;
    overflow: hidden;
    border-right:1px solid $white;
    .wrapper {overflow-y:auto;height: 100%; width:100%; padding-right: 15px;  }
}

nav.push-menu-left {
    left: 0px;
 
}
body.pml-open nav.push-menu-left {
    left: 0;
    width: 160px;
}

body.pml-open{
  .panel-wrap{margin-left: 160px;}
}







 
.mask {
    position: fixed;
    top: 0;
    left: 300px;
    //z-index: 15;
    width: 100%;
    height: 100%;
    //background: rgba(0, 0, 0, 0.8);
}
 


#open{z-index: 200; position: fixed; top: 20px; right: 20px;}
#close{z-index: 200; position: fixed; top: 50px; right: 20px;}

.panel {
  position: absolute;
  width: 100%;
  height:100%;
  top: 0;
  overflow: auto; 
   
}

.panel-wrap{
   @include animate(0.3s);
   margin-left: 80px; 
 
}


/* ------END OF STORY NAV ---------*/
.left-nav{position: relative; background-color: $black; width: 50%; float:left; a{position: relative;  left: 7%;}
  .fa{font-size: 45px; position:relative; top: 8px; right: 5px;}
  
 }
.right-nav{width: 50%; float: right; a{float: right; position: relative;  right: 10%;}
  .fa{font-size: 45px; position:relative; top: 8px; left: 5px;}}

/* ----------- Home ------------- */
#home .panel-wrap{
  background: url('assets/img/cover-large.jpg')top left no-repeat;
  @include background-size(cover);
  height: 100%;
  overflow: hidden;
  left: 0;

}

/* --------- PANEL IMPORTS --------------*/
 
@import "grady";
@import "nicu";
@import "timeline";
@import "map";
@import "states";
@import "letters";
 