/* ----------- INTERACTIVE MAP ------------- */
#map {
    left: 300%;
    overflow: hidden;
    .panel-wrap{
        height: 100%;
        overflow: hidden;
        background: url('assets/img/map-bg.jpg') top left no-repeat;
        @include background-size(cover);
    }

    .map-intro{
        padding: 25px 0px 0px 50px; position:relative; z-index: 1000;
        h1{font:32px/36px $georgia ; color: $white; display: inline; float:left; }
        .intro-text{
            width:380px; display: inline; float:left; margin: 0px 0px 0px 30px; padding:10px 10px 0px 10px ;
            background: rgba(0,0,0,0.7); 
            p{font:12px/15px $georgia; color: $white; font-style: italic;}

        }
        #map-more{  }
    }

    .zoom-out{
        position: absolute; 
        z-index: 1001;
        top: 40px;
        right: 20px;
        a{color: white;}
        a:hover{text-decoration: underline;}
    }



    .step {
        position: relative;
        //width: 900px;
        padding: 0px;
        margin: 0px 0px 0px 0px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing:    border-box;
        -ms-box-sizing:     border-box;
        -o-box-sizing:      border-box;
        box-sizing:         border-box;
       // font-family: 'PT Serif', georgia, serif;
        //font-size: 48px;
        //line-height: 1.5;
    }
    .impress-enabled .step {
        margin: 0;
        /*opacity: 0.3;*/
        opacity: 1;

        -webkit-transition: opacity 1s;
        -moz-transition:    opacity 1s;
        -ms-transition:     opacity 1s;
        -o-transition:      opacity 1s;
        transition:         opacity 1s;
    }

    .impress-enabled .step.active { opacity: 1 }

    
    .slide {
        display: block;
        width: 950px;
        padding: 0px;
        max-height: 230px;
       
        font-size: 20px;
        span:hover{opacity: 0.7; cursor: pointer;}
        z-index: 23;
        -webkit-transition: max-height 0.8s;
        -moz-transition: max-height 0.8s;
        transition: max-height 0.8s;
    }
    span.number{color: $gold; font-family: georgia; font-size: 110px; -webkit-transition: all .5s ease-in; position:relative; z-index: 10000;}
    span.subtext{font:24px/30px $cabin; font-weight:bold; color: $gold; display:block;  text-transform:uppercase; -webkit-transition: all .5s ease-in; }
    .number-wrap{display:inline; float:left; width: 350px; text-align: right; }
   
    
    
    .content{
        width: 500px;
        display: inline;
        float:left;
        opacity: 0;
        
        margin-left: 40px;
        -webkit-transition: all .5s ease-in;
        p{
            color: $white;
            font-size:16px;
            line-height: 26px;
        }
        img{max-width: 100%; margin: 10px 0px 10px 0px;}
    }

    #wa {
        .number-wrap{width: 400px;}
        .content{width: 450px;}
    }
    #oh {
        .number-wrap{width: 400px;}
        .content{width: 450px;}
    }

    #usa{
        .number-wrap{width: 900px; display:block;}
        .content{width: 500px; display:block;}
         span.number{font-size: 170px;}

    }
 
    .step.active div.content{ opacity: 1; -webkit-transition: all 2s ease-in;} 
 

}

//.impress-enabled          { pointer-events: none }
//.impress-enabled #impress { pointer-events: auto }
